.tools/
dialogue-display-plugin/.gradle/
dialogue-display-plugin/build/
logs/
cache/
versions/
libraries/
world/
world_nether/
world_the_end/
crash-reports/
eula.txt
usercache.json
usernamecache.json
*.log
*.lck
*.tmp
MarketPlay-Pack-20260811-183349.zip
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
config/
help.yml
ops.json
permissions.yml
spigot.yml
version_history.json
wepif.yml
whitelist.json
