.tools/
dialogue-display-plugin/.gradle/
dialogue-display-plugin/build/
marketplay-plugin/.gradle/
marketplay-plugin/build/
marketplay-plugin/.tools/
plugins/MarketPlay/
logs/
cache/
versions/
libraries/
world/
world_nether/
world_the_end/
mp_lobby/
mp_exploration/
mp_resources/
mp_endgame/
mp_tutorial/
crash-reports/
eula.txt
usercache.json
usernamecache.json
*.log
*.lck
*.tmp
MarketPlay-Pack-20260811-183349.zip
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
config/
help.yml
ops.json
permissions.yml
spigot.yml
version_history.json
wepif.yml
whitelist.json
plugins/.paper-remapped/
plugins/Citizens/saves.yml
plugins/GSit/data/
plugins/GSit/lang/
plugins/RPGMaker/backups/
plugins/RPGMaker/players/
plugins/RPGMaker/shares.yml
plugins/Skript/backups/
plugins/Skript/variables.csv
plugins/WorldGuard/worlds/
